.tag-container {
    display:flex;
    background: #FF6060;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    padding: 6px 10px;
    width: fit-content;
}

.tags-container {
    margin-right: 12px;
}

.tags {
    margin-left: 30px;
    display: flex;
    margin-left: 0;
    margin-top: 15px;
}
@media all and (min-width: 375px) and (max-width: 667px) {
    .tags {
        margin: 0 0 5% 5%;
    }
}